.fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

body {
  background: #181818;
  color: #fff;
  padding-bottom: 50px;
}

.navbar-dark {
  background-color: #121212;
}

.header-dark {
  padding: 20px 0;
}

.header-dark h1 {
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  font-size: 40px;
  padding-top: 60px;
}

.highlight-clean {
  color: #313437;
  background-color: #fff;
  padding: 20px 0;
  font-family: "JetBrains Mono", monospace;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .btn-primary {
  background-color: #ff0000;
  border-color: #ff0000;
}

.highlight-clean .btn-primary:hover {
  background-color: #e60000;
  border-color: #e60000;
}

#moat-bitrate {
  background-color: #fefbfb;
  color: #130000;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
}

#moat-results {
  display: flex;
  flex-wrap: wrap;
}

.song-container {
  width: calc(33.33% - 20px);
  margin: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .song-container {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .song-container {
    width: calc(100% - 20px);
  }
}

.search-toggle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 95%;
  margin: 0 auto;
}

.search-toggle {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 18px;
  font-family: Aclonica, sans-serif;
  padding: 6px;
  border-style: none;
}

.search-toggle:nth-child(10n + 1) {
  color: #ceea82;
}

.search-toggle:nth-child(10n + 2) {
  color: #70cee2;
}

.search-toggle:nth-child(10n + 3) {
  color: #ef2b2d;
}

.search-toggle:nth-child(10n + 4) {
  color: #23b805;
}

.search-toggle:nth-child(10n + 5) {
  color: var(--primary);
}

.search-toggle:nth-child(10n + 6) {
  color: #cee007;
}

.search-toggle:nth-child(10n + 7) {
  color: #ff77a8;
}

.search-toggle:nth-child(10n + 8) {
  color: #21a9af;
}

.search-toggle:nth-child(10n + 9) {
  color: var(--warning);
}

.search-toggle:nth-child(10n + 10) {
  color: #e316e7;
}

.footer {
  color: #aaa;
  padding-top: 20px;
  font-size: 14px;
}

.footer a {
  color: #aaa;
  text-decoration: underline;
}

#audio-player {
  z-index: 99;
  background: #202020;
  width: 100%;
  margin: 0;
  color: #fff;
  backdrop-filter: blur(4px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#audio-player .row {
  margin: 0;
  align-items: center;
}

#audio-player img {
  height: 75px;
  width: 75px;
  border-radius: 10px;
}

#audio-player audio {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
}

.player-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
